body {
  font: 14px "URW Chancery L", cursive;
  margin: center;
}

ol, ul, li {
  font: "URW Chancery L", cursive;
  margin-left: 30px;
}

h2 {
  font-family: 19px Jazz LET, fantasy;
}

.head-page {
  text-align: center;
  background-color: DarkRed;
  color: white;
  font-family: 20px "Stencil Std", fantasy;
}

b {
  font-family: 18px "Luminari", fantasy;
}

.boxes{
  text-align :left;
}

.search{
  text-align: right;
  opacity: 75%;
}